body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    flex: auto;
}

.header,
.footer,
.top {
    background-color: #011936ff
}

.hero {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8
}

.subtext,
.links {
    font-size: 18px;
    color: #e5e7eb
}

.placeholder {
    font-size: 24px;
    color: #f9faf8;
    background-color:grey;
}

button, 
.call-to-action {
    background-color: #3882F6;
    color: #f9faf8;
}

.albums-title {
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937;
    display: flex;
    margin-bottom: 50px;
}

.middle-bottom {
    background-color: #E5E7EB;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    padding: 100px;
    gap: 10px;
    background-color: #F9DC5CFF
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    align-self: center;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    font-size: 18px;
    color: #f9faf8
}

.nujabes {
    width: 100%;
    height: 120px;
    display: flex;
}

.nujabes-art {
    display: flex;
    width: auto;
    height: 300px;
}

.logo {
    display: flex;
}

a {
    text-decoration: none;
    color: #f9faf8
}

.header {
    display: flex;
    padding: 16px;
    color: #f9faf8;
    justify-content: space-between;
    max-height: 20px;
}

.top {
    display: flex;
    padding: 100px;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 400px;

}

.right-side {
    display: flex;
}

button {
    width: 96px;
    border-radius: 5px;
    border: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.placeholder {
    display: flex;
    max-width: 400px;
    max-height: 200px;
    justify-content: center;
    align-items: center;
}

.middle-top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: auto;
    align-items: center;
    padding: 100px;
    background-color: #F4FFFDFF
}

.albums {
    display: flex;
    width: 1000px;
    justify-content: space-around;
    flex: auto;
}

.modal,
.metaphorical,
.hydeout,
.hydeout-2,
.hex,
.spiritual {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: solid grey 1px;
}

.box-subtext {
    display: flex;
    justify-content: space-around;
    text-align:center;
    flex-flow: nowrap;
    width: 1000px;
    flex: auto;
}

.box-subtext-1,
.box-subtext-2,
.box-subtext-3,
.box-subtext-4,
.box-subtext-5,
.box-subtext-6 {
    display: flex;
    flex-flow: nowrap;
    flex: auto;
    font-weight: bold;
    font-style: italic;
    color: 
}

.thor {
    display: flex;
    color: #1F2937;
    flex-flow: row nowrap;
    font-weight: bold;
    font-size: 24px;
    align-self: center;
}

.bottom {
    display: flex;
    justify-content: center;
    padding: 75px;
    background-color: #ED254EFF;
}

.left-side-2 {
    display: flex;
    flex-direction: column;
}

.right-side-2 {
    display: flex;
    justify-content: center;
}

.call-to-action {
    display: flex;
    padding-left:100px;
    padding-right:100px;
    padding-top:50px;
    padding-bottom:50px;
    border-radius:10px;
    width: 800px;
    justify-content: space-between;
}

.bot-main-text {
    font-weight: bold;
    font-size: 20px;
}

.sign-up-2{
    border: 2px solid white;
    width: 120px;
    height: 35px;
    font-weight: bolder;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 35px;
    color: white;
    gap: 5px;
}

.github {
    height: 20px;
    width: 20px;
}

.github:hover {
    transform: scale(1.1);
}